<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reddit Api ++</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    h1 {
      background-color: aqua;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      display: block;
      font-size: 2vw;
      padding: 1vw 0 1vw;
      text-align: center;
    }
    p {
      font-size: 4vw;
      margin: auto;
    }
  </style>
  <body>
    <h1>Welcome to Reddit api ++</h1>
    <p>
      To use the api just send a <b>curl</b> or <b>get</b> request to "this
      website name"+ "/api/"+ "your subreddit name"
    </p>
  </body>
</html>
